* {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
}

.app_container {    
    .header_container {
        display: flex;
        padding: 16px 10px 12px 10px;
        background-color: #1f1f1f;
        justify-content: space-between;
        align-items: center;
        #table_menu {
            display: none;
        }
        #dropdown-custom-1 {
            background-color: rgb(107, 87, 255);
            color: white;
        } 
        .home_link {
            display: block;
            color: white;
            text-decoration: none;
        }
        a {
            text-decoration: none;
            h2 {
                line-height: 30px;
                text-decoration: none;
                color: rgb(194, 194, 194);
                text-decoration: none;
                margin: 0;
            }
        }
        
    }
}
