@media screen and (min-width: 768px) and (max-width: 1024px) {
  .app_container #dropdown {
    display: none;
  }
  .app_container .header_container {
    align-items: center;
  }
  .app_container .header_container #table_menu {
    display: block;
  }
  .app_container .header_container ul {
    display: flex;
    justify-content: right;
    margin: 0;
  }
  .app_container .header_container li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border-right: 1px solid white;
  }
  .app_container .header_container li:last-child {
    border-right: none;
  }
  .app_container .header_container li .home_link {
    color: rgb(194, 194, 194);
  }
  .app_container .header_container li .home_link:hover {
    color: white;
  }
}