@media screen and (min-width: 1025px) {
    .app_container {
       #dropdown {
        display: none;
       }
       .header_container {
        align-items: center;
        #table_menu {
            display: block;
       }
       
        ul {
            display: flex;
            justify-content: right;
            margin: 0;
        }
        li {
            padding: 10px;
            list-style: none;
            cursor: pointer;
            &:last-child {
                border-right: none;
            }
            .home_link{
                color: rgb(194,194,194);
                &:hover {
                    color: white;
                }
            }
        }
       }
       .live_matches, .upcoming_container, .topscore_container, .favorite_matches, #byteams_container {
        max-width: 1000px;
        margin: 0 auto;
       }
    }
}