@media screen and (min-width: 768px) and (max-width: 1024px){
    .app_container {    
        .header_container {
            display: flex;
            padding: 16px 10px 12px 10px;
            background-color: #1f1f1f;
            justify-content: space-between;
            align-items: center;
            #table_menu {
                display: flex;
                justify-content: center;
                align-items: center;
                ul {
                    display: flex;
                    margin: 0;
                    li {
                        
                        a {
                            font-size: 13px;
                            color: rgb(194, 194, 194);;
                            text-decoration: none;
                            padding: 10px;
                            &:hover {
                                color: white;
                            }
                        }
                        
                    }
                }
            }
            a {
                text-decoration: none;
            }
            #dropdown {
                display: none;
            }
            
        }
    }
    
}